@model IEnumerable<DistLab2.ViewModels.AllAuctionsViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Current auctions</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Current bid
            </th>
            <th>
                End date
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.highestBid) kr
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                    
                    @Html.ActionLink("Show bids", "Details","Auction", new { id=item.Id, name = item.Name}, new {@class = "btn btn-primary"})
                    <div style="display:inline-block">
                    @using (Html.BeginForm("Addbid", "Auction", new { id = item.Id }, FormMethod.Post, true, null))
                    {
                        @Html.Hidden("username", item.Username)
                        @Html.Hidden("auctionName", item.Name)
                        @Html.Hidden("endDate", item.EndDate)
                        <input type="submit" value="Add bid" class="btn btn-primary" />
                    }
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
@if (TempData["OwnAuction"] != null)
{
    <div class="alert alert-danger">
        @TempData["OwnAuction"]
    </div>
}
@if (TempData["NoBids"] != null)
{
<div class="alert alert-danger">
    @TempData["NoBids"]
</div>
}


<p >@Html.ActionLink("Create auction", "Create", "Auction", null, new {@class = "btn btn-primary"})</p>
